<?xml version="1.0" encoding="utf-8"?>
<manifest package="com.example.agoodob.testallkind"
          xmlns:android="http://schemas.android.com/apk/res/android">

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.RECORD_AUDIO"/>
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE"/>
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE"/>
    .
    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity android:name=".Animation_Try.myAnimation">
        </activity>
        <activity android:name=".Hardware_Try.RecordActivity">
        </activity>
        <activity android:name=".Hardware_Try.AudioActivity">
        </activity>
        <activity android:name=".AutoCompleteActivity">
        </activity>
        <activity android:name=".Hardware_Try.CamActivity">
        </activity>
        <activity android:name=".Gesture2">
        </activity>
        <activity android:name=".ImageSw">
        </activity>
        <activity android:name=".DataStorage.IntelStorege">
        </activity>
        <activity android:name=".Network_Try.jsonActivity">
        </activity>
        <activity android:name=".loading">
        </activity>
        <activity android:name=".Touch">
        </activity>
        <activity android:name=".Network_Try.Web">
        </activity>
        <activity android:name=".Network_Try.Web2">
        </activity>
        <activity android:name=".Network_Try.Network">
        </activity>
        <activity android:name=".DataStorage.SharePerfer">
        </activity>
        <activity android:name=".BoardCast">
        </activity>

        <receiver android:name=".BoardCastReceiver">
            <intent-filter>
                <action android:name="com.tutorialspoint.CUSTOM_INTENT">
                </action>
            </intent-filter>
        </receiver>

        <activity android:name=".PushNoti">
        </activity>
        <activity android:name=".Network_Try.WIFI">
        </activity>
        <activity android:name=".ResultActivity">
        </activity>
        <activity
            android:name=".Notification.StatusNoti"
            android:label="@string/title_activity_status_noti"
            android:theme="@style/AppTheme.NoActionBar">
        </activity>
        <activity android:name=".Notification.StatusNotiFired">
        </activity>
        <activity android:name=".UI.TryMenu">
        </activity>
        <activity android:name=".UI.TryMenuJump">
        </activity>
        <activity android:name=".DataStorage.DataStorge_File">
        </activity>
    </application>

</manifest>
